<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jan.schuettken.bierpongleague">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_v3_2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_v3_2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.OverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".activities.RegisterActivity" />
        <activity
            android:name=".activities.AddGameActivity"
            android:parentActivityName=".activities.OverviewActivity" />
        <activity
            android:name=".activities.PlayedGamesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ConfirmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EloTrendActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ScoreboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProfileSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddAreaActivity"
            android:parentActivityName=".activities.MyAreasActivity" />
        <activity
            android:name=".activities.MyAreasActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EditAreaActivity"
            android:parentActivityName=".activities.MyAreasActivity" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:parentActivityName=".activities.LoginActivity" />
        <activity android:name=".activities.ProfilePasswordSettingsActivity"
            android:parentActivityName=".activities.ProfileSettingsActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>